html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 15px;
	color: #333333;
	background-color: #f8f8ff; /* Color of background */
}
#conteiner {
	position: relative;
	top: 45px;
	width: 100%;
	/* min-width: 960px; */
	margin: 0 auto;
	padding: 0;
}
#header {
	position: fixed;
	top: 0px;
	background-color: #0099ff;
	opacity: 0.9;
	width: 100%;
	height: 47px;
	border: 0px;
	/* border-style: none none none none; */
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 95;
}
#mainmenu {
	width: 960px;
	/* margin-left: 15%; */
	margin: 0 auto;
}
#conteiner-inner {
	position: relative;
	width: 960px;
	/* max-width: 960px; */
	/* min-width: 960px; */
	margin: 0  auto;
	padding: 0 0 0 3px;
	border-left: 0px solid #4682b4;
}
#left {
	float: right;
	width: 41%;
	margin-top: 0px;
	padding: 0px;
	border: 0px;
	z-index: 0;
}
#left div {
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 5px;
	border: 1px dashed #4682b4;
	background-color: #f5f5f5;
}
#content {
	width: 57%;
	margin-top: 7px;
	padding: 0px;
	border-top: 0px solid #4682b4;
	border-left: 0px solid #4682b4;
	/* border: 1px solid #4682b4; */
	z-index: 0;
}
#content2 {
	width: 57%;
	margin-top: 7px;
	padding: 0px;
	border-top: 2px solid #4682b4;
	border-left: 0px solid #4682b4;
	/* border: 1px solid #4682b4; */
	z-index: 0;
}
#main {
	max-width: 100%;
	margin-top: 7px;
	padding: 0px;
	border-top: 0px solid #4682b4;

	z-index: 0;
	clear: right;
}
#main2 {
	max-width: 100%;
	height: 60px;
	margin-top: 7px;
	padding: 0px;
	border-top: 0px solid #4682b4;
	z-index: 0;
	clear: right;
}
.main2child {
	float:left;
	width: 14%;
	height: 55px;
	border-bottom: 2px solid #4682b4;
	margin-right: 18px;
	padding: 5px;
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: center;
	
}
/*
.main2child:hover {
	background: #ffffff;
} 
*/
.main2lastchild {
	float:right;
	width: 14%;
	height: 55px;
	border-bottom: 2px solid #4682b4;
	margin-right: 0px;
	padding: 5px;
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: center;
}
/*
.main2lastchild:hover {
	background: #ffffff;
}
*/
.main2child p {
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: center;
}
.main2lastchild p {
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: center;
}

#main3 {
	max-width: 100%;
	margin-top: 7px;
	padding: 0px;
	border: 0px solid #4682b4;
	z-index: 0;
	clear: right;
}
#languages {
	max-width: 100%;
	margin-top: 7px;
	padding: 0px;
	border: 0px solid #4682b4;
	text-align: right;
	font-size: 90%;
	z-index: 0;
	clear: right;
}
#languages select {
	font-size: 100%;
}
.product_presentation {
	font-size: 90%;
	font-weight: bold;
	color: #8b0000;
	text-align: center;
	vertical-align: center;
    border: 0px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
}
.languages {
	cursor: default;
	width: 100px;
	margin-bottom: 7px;
}
#footer {
	max-width: 100%;
	margin-top: 7px;
	padding: 0px;
	border: 1px solid #4682b4;
	z-index: 0;
	clear: right;
}
#conteiner-bottom {
	position: relative;
	background-color: #800000;
	/* background-color: #f5f5dc; */
	margin-top: 5px;
	height: 180px;
	width: 100%;
	border-top: 1px solid #d3d3d3;
	padding: 0;
	clear: right;
	/* border-style: none none none none; */
}
#bottom {
	width: 958px;
	/* margin-left: 15%; */
	margin: 0 auto;
	padding: 0;
	border: 0;
}
#bottom1	{
	float: left;
	border-right: 1px solid #000000;
	width: 270px;
	height: 135px;
	margin: 10px;
	padding: 10px 0px 15px 0px;
}
#bottom2	{
	float: left;
	border: 0px solid black;
	width: 270px;
	margin-top: 10px;
	padding: 10px 0px 15px 0px;
}
#bottom3	{
	float: left;
	position: relative;
	border: 0;
	width: 220px;
	height: 157px;
	padding: 0;
	margin: 0;
}
#bottom3inside {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	text-align: right;
}
#mainmenu ul {
	position: relative;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
	/* margin-left: 15%; */
	overflow: hidden;
	border: 0px;
	background-color: #0099ff;
}
#mainmenu li {
	float: left;
}
#mainmenu li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#mainmenu li a:hover:not(.active) {
	color: #ffffff;
	background-color: #0099cd;
}
#mainmenu li a.active {
	color: #ffffff;
	background-color: #0099cd;
}
#bottom p {
	margin-top: 0px;
	margin-bottom: 3px;
	color: #e6e6fa;
	list-style-type: none;
}
p {
	text-align: justify;
	padding-right: 5px;
	padding-left: 5px;
}
form {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;	
}
.contactform {
	margin-top: 5px;	
	margin-bottom: 5px;
	width: 200px;
}
#message {
	margin-top: 5px;	
	margin-bottom: 5px;
	width: 280px;
	height: 130px;
	resize: none;
}
#country-selector {
	margin-top: 5px;	
	margin-bottom: 5px;
	width: 200px;
}
h4 {
	padding-left: 5px;
}
.bottom li {
	margin-top: 0px;
	margin-bottom: 3px;
	color: #e6e6fa;
	list-style-type: none;
}
.bottom a:link {
	color: #e6e6fa;
	text-decoration: underline;
}
.bottom a:visited {
	color: #808080;
	text-decoration: underline;
}
.bottom  a:active {
	color: #e6e6fa;
	text-decoration: none;
}
.bottom a:hover {
	color: #e6e6fa;
	text-decoration: none;
}
hr {
	box-shadow: none;
	width: 98%; 
}
.logo {
	width: 240px;
	height: 40px;
	margin: 2px 50px 0px 0px;
	padding: 0px;
	border: 0px;
}
.head {
	font-size: 130%;
	text-align: center;
	margin: 0px;
	padding: 1px;
	font-weight: 600;
	/* background-color: #0099ff; */
}
.services li {
	margin-bottom: 18px;
	font-weight: 600;
}
.projects li {
	margin-bottom: 18px;
	font-weight: 600;
}
.inside li {
	margin-bottom: 1px;
	font-weight: 400;
}
.link {
	list-style-type: none;
}
.referenses {
	font-size: 90%;
	margin: 3px;
	padding-left: 20px;
}
.top {
	margin: 0;
	font-weight: 600;
}
.center {
	text-align: center;
}
.mail {
	
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a.bottom:link {
	color: #ffffff;
	text-decoration: underline;
}
a.bottom:visited {
	color: #ffffff;
}
a.bottom:active {
	color: #ffffff;
	text-decoration: none;
}
a.bottom:hover {
	color: #ffffff;
	text-decoration: none;
}
.mail {
	margin: 0px;
	padding: 0px;
}
.tablecontact tr, td{
	border: 0px solid black;
}
.tablecontact td {
	min-width: 150px;
	vertical-align: center;
}
.mess {
	padding-top: 7px;
	vertical-align: top;
}
.star {
	font-size: 80%;
	color: red;
}
.mainblock {
	text-align: center;
	padding: 0px;
	margin: 0px;
	border:  0px solid gray;
}
.mainblock2 {
	text-align: center;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	border:  0px solid gray;
}
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
	-webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
	padding: 15px 0px 15px 0px;
	border: 0px solid black;
}
.mainpaper {
	padding: 0px 50px 0px 50px;
}
.supper {
	font-size: 120%;
	margin-bottom: 10px;
}

/* new from style.css of gradiometr.com */
p {
	font-size: 100%;
}
#left_without_border {
	float: right;
	width: 41%;
	margin-top: 0px;
	padding: 0px;
	border: 0px;
	z-index: 0;
}
#left_without_border div {
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 5px;
	border: 0px;
}
.head2 {
	font-size: 110%;
}
.head-left {
	font-size: 150%;
	text-align: left;
	margin: 15px 15px 5px 15px;
}
.head2-left {
	font-size: 110%;
	text-align: left;
	font-weight: normal;
	margin: 5px 15px 30px 15px;
	color: #797979;
}
.photo_square_without_dorder {
	/* float: right; */
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border: 0px;
	/* box-shadow: 0 1px 4px rgba(0,0,0,0.5); */
	width: 370px;
	height: 370px;
}
.main_words {
	font-size: 105%;
	color: #191970;
	font-weight: bold;
}
.photo_p3 {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.photo3 {
	float: none;
	box-shadow: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%; 
}
.photo3s {
	float: none;
	box-shadow: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%; 
}
.photo3s2 {
	float: none;
	box-shadow: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%; 
}
.hr4 {
	border: 0;
	height: 1px;
	background: #313b47;
	width: 96%;
}